@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --my-fav-color: #00003d;
  --bottom-margin: 1rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  margin: 0 auto;
  background-color: var(--secondary-shadow);
  overflow-x: hidden;
  max-width: 100vw;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem 1.5rem 3rem;
  background-color: var(--my-fav-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  margin-right: 60px;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  width: 25rem;
  min-width: 280px;
  padding: 0.625rem;
  border-radius: 6px;
  background-color: var(--my-fav-color);
  color: var(--bg-color);
  padding: 20px 15px 10px 20px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--my-fav-color);
  color: var(--bg-color);
  padding: 30px 60px;
  width: 84%;
  max-width: 1150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.more-a {
  display: flex;
  justify-content: center;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--secondary-shadow);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 100%;
  height: 60%;
  transition: all 1s linear;
}

.img-p {
  clip-path: polygon(2% 0, 98% 0, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0 98%, 0 2%);
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

.project-pic:hover {
  transform: scale(1.3);
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #ff7235;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.8rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  background-color: var(--primary-color);
  padding: 8px 10px;
  border-radius: 10px;
  color:#00003d;
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

@media (max-width: 600px) {
  .socials {
    right: auto;
  }
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 114, 53, 0.95);
  opacity: 1;
  border-radius: 100%;
  padding: 10px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-arrow1:hover {
  animation: move 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
  
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--secondary-shadow);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: var(--my-fav-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: var(--my-fav-color);
  color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  height: 450px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--my-fav-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    padding: 20px 0px 35px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
    /* margin-right: 250px;
    margin-left: -350px; *
    */
    position: absolute;
    top: 350px;
    left: 200px;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media (max-width: 892px) {
  .bio {
    /* background-color: white;
    color: var(--my-fav-color);
    margin-right: 200px; */
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

@media (max-width: 1200px) {
  .bio {
    margin-right: 90px;
    margin-left: -28vw;
  }
}

.socials a {
  transition: all 0.3s linear;
}

.socials a:hover {
 /* background-color: #ff7235; */
 /* border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center; */
 transform: scale(1.3);
}

/* ///////////////////////////////////////////////////////////////////////////   form submision section */


*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  background: linear-gradient(to right, var(--secondary-color) 0%, #2b84ea 100%);
  font-size: 12px;
} */

.app-title, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1.4px;
}


/*  */

/*  */




/*  */

.contact {
  background-color: var(--my-fav-color);
}

@media (min-width: 1204px) {
  .contact {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.contact input::placeholder {
  color: var(--secondary-shadow);
  opacity: 1;
  filter: blur(0.6px);
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--secondary-color);
  font-size: 25px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--secondary-color);
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: var(--secondary-shadow);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd
}

.app-form-button {
  background: none;
  border: 2px solid var(--secondary-color);
  background-color: var(--my-fav-color);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 15px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s linear;
}

.app-form-button:hover {
  color: var(--my-fav-color);
  background-color: var(--secondary-color);
}


@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

#my-form-status {
  margin-top: 20px;
  color: var(--bg-color);
}

.stack span {
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 20px;
}

.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: small;
 
}

.project-link {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.4s linear;
  color: var(--my-fav-color);
}

.project-link:hover {
  background-color: transparent;
  border: 1px solid var(--secondary-shadow);
}

.skill-header, .projects-title {
  color: var(--my-fav-color);
}

.more-about h2, .bio-title {
  color: var(--secondary-color);
}

.dist {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#contact {
  width: 90vw;
  border-radius: 20px;
}

.dR {
  position: absolute;
  top: 480px;
  left: 10vw;
  background-color: var(--my-fav-color);
  padding: 10px;
  border: 1px solid var(--my-fav-color);
  color: var(--secondary-color);
  border-radius: 5px;
  transition: 0.3s linear;
}

.hero {
  position: relative;
}

.dR:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--my-fav-color);
}